[head=1][color=#C70667]────────────────────[/color][/head]
[color=#C70667]█░░░█ ██▀▀█[/color][head=1][color=#1b67a5]│[/color][/head] [head=3][color=#C70667]Whiskershire, Attorney At Law[/color][/head]
[color=#C70667]█▄█▄█ ░▀█▄░[/color][head=1][color=#1b67a5]│[/color][/head] [bolditalic][color=#cb0000]Station Prosecutor's Office[/color][/bolditalic]
[color=#C70667]█▀░▀█ █▄▄██[/color][head=1][color=#1b67a5]│[/color][/head] [color=#aaaaaa][italic][/italic][/color]
[color=#C70667]────────────────────────────────────────[/color]